<div id='about'>
	<div id='about_me'>
		<h1>About Me</h1>
		<p><h4>Welcome</h4> Graeme Bates is in his first year at the University of Toronto Scarborough pursuing a degree in computer science. From a young age Graeme has been fond of computers, and took advantage of all the resources he could to learn how they work. Graeme has many passions, when he is not working on homework or websites, he loves to play guitar, catching up on current events, taking photos and running. He hopes to someday work within the tech sphere, at a company that shares his passions for both computers and the world.</p>
	</div>
	<div id='about_photo'>
		
	</div>	
</div>