$def with (content)

<html>
	<head>
		<link rel="stylesheet" href="/static/css/site.css" type="text/css" media="screen" charset="utf-8"/>
		<link rel="stylesheet" href="/static/css/mobile.css" media="screen and (max-width: 600)"/>
		<link rel="stylesheet" href="/static/css/mobile.css" media="screen and (max-device-width: 400)"/>
		<meta name="p:domain_verify" content="08fcb32e3ef5a16564b4d897c0337867"/>
		<title>Graeme G. Bates</title>
	</head>
	<body>
		<div id = 'header'>
			<a id='mobile_header' href="/blog">BLOG</a>
			<a id='mobile_header' href="/about">ABOUT</a>
			<a id='mobile_header' href="/photography">PHOTOGRAPHY</a>
			<a id='mobile_header' href="/resume">RÉSUMÉ</a>
		</div>
		$:content
	</body>
