<div id='resume'>
	<div id='center'>
		<h1>Graeme Bates</h1>
		<br>
		1295 Military Trail Unit G-1-F
		<br>
		Toronto Ontario M1C 1A4
		<br>
		1(647)381-6079
		<br>
		graeme@batesg.com
	</div>
	<h2>Skills and Abilities:</h2>
	<p>
		<h3>Summary</h3>
		<ul>
			<li>Creative, motivated, hardworking and reliable</li>
			<li>Quick learner, organized and friendly</li>
		</ul>
		<br>
		<h3>Leadership Skills</h3>
		<ul>
			<li>Officer for my local Youth and Government branch as well as a State-Wide leader. I was the Sergeant at Arms<br>
				for my local Youth and Government branch located in Albany California during grade 11. In grade 12, I served<br>
				as a State-Wide Committee Chair. I learned how to motivate and organize large amounts of people, as well as<br>
				balance my Achedemics with extra-curricular activites.
			</li>
		</ul>
		<br>
		<h3>Computer Skills</h3>
		<ul>
			<li>Python</li>
			<li>Linux/Unix</li>
			<li>Linux Servers</li>
			<li>Git</li>
			<li>Webpy</li>
			<li>HTML</li>
		</ul>
	</p>
	<h2>Experience</h2>
	<h3>Intern: June 2014 - August 2014</h3>
	<p>Intern at Powerhive, a startup based in Berkeley C.A.</p>
	<h3>Software Development: August 2013 - June 2014</h3>
	<p>Worked on a Web Application for my Librarian and Computer<br>Science Teacher while studying at Albany High School.</p>
	<br>
	<h2>Education</h2>
	<h3>University of Toronto, Scarborough: August 2014 - Present</h3>
	<p>Toronto Ontario, Canada.</p>
	<br>
</div>