<div id="site_body">
<div id='resume'>
	<div id='center'>
		<h1>Graeme Bates</h1>
		<br>
		1265 Military Trail Unit G-1-F
		<br>
		Toronto Ontario M1C 1A4
		<br>
		1(647)381-6079
		<br>
		graeme@batesg.com
	</div>
	<h2>Skills and Abilities:</h2>
	<p>
		<h3>Summary</h3>
		<ul>
			<li>Creative, motivated, hardworking and reliable</li>
			<li>Quick learner, organized and friendly</li>
		</ul>
		<br>
		<h3>Leadership Skills</h3>
		<ul>
			<p>Officer for my local Youth and Government branch as well as a State-Wide leader. I was the Sergeant at Arms
				for my local Youth and Government branch located in Albany California during grade 11. In grade 12, I served
				as a State-Wide Committee Chair. I learned how to motivate and organize large amounts of people, as well as
				balance my Achedemics with extra-curricular activites.
			</p>
		</ul>
		<br>
		<h3>Computer Skills</h3>
		<ul>
			<li>Python</li>
			<li>Linux/Unix</li>
			<li>Linux Servers</li>
			<li>Git</li>
			<li>Webpy</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>KML</li>
		</ul>
	</p>
	<h2>Experience</h2>
	<h3>Intern: June 2014 - August 2014</h3>
	<span>
	Powerhive,<br>
	Berkeley C.A.
	</span>
	<h3>Software Developer: August 2013 - June 2014</h3>
	<span>Worked on a Web Application for my Librarian and Computer<br>Science Teacher while studying at Albany High School.</span>
	<br>
	<h2>Education</h2>
	<h3>University of Toronto, Scarborough: August 2014 - Present</h3>
	<span>Toronto Ontario, Canada.</span>
</div>
</div>
